// main: _module.scss

//** Keyframes

@keyframes gameModalAdjust {

}

@keyframes gameModalBoxartAppear {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc((var(--modal-game-boxart-width) + var(--modal-game-footer-padding) + 2rem) * -1), 0, 0);
  }
}

//## Not used at the moment
@keyframes blurFadeIn {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes blurIn {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

// Animation for new messages in chat --- WARNING: This forces the message group
// to act like position relative, causing scroll issues when editing messages
// and jumping to messages
@keyframes chatMessageAppear {
  0% { 
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

// Used on empty pinned messages popout
@keyframes linkAnimation {
  0%{ background-position: -720px 0px;}
  7%{ background-position: -1440px 0px;}
  14%{ background-position: -960px 0px;}
  21%{ background-position: -1200px 0px;}
  28%{ background-position: -720px 0px;}
  35%{ background-position: -1440px 0px;}
  42%{ background-position: -960px 0px;}
  49%{ background-position: -1200px 0px;}
  56%{ background-position: -720px 0px;}
  63%{ background-position: -1440px 0px;}
  70%{ background-position: -960px 0px;}
  77%{ background-position: -1200px 0px;}
  84%{ background-position: 0px 0px;}
  91%{ background-position: -240px 0px;}
  100%{ background-position: -480px 0px;}
}

//## Twitch bounce scale in keyframe
@keyframes bouncePie {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

//## Bounce in effect used for modals
@keyframes bounceIn {
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1) translate3d(0,0,0);
  }
  80%{
    opacity: 1;
    transform: scale(0.89) translate3d(0,0,0);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}


//## When an unread pinned message is available
@keyframes newPinnedMessagePulse {
  0% {
    box-shadow: 0 0 0 0 color('danger');
  }
  100% {
    box-shadow: 0 0 0 .6rem transparent;
  }
}


//## When user is mentioned, this is the badge that appears
//## next to the channel name
@keyframes mentionBadgePulse {
  0% { transform: scale(1); }
  20% { transform: scale(1.4); }
  50% { transform: scale(.9); }
  80% { transform: scale(1.2); }
  100% { transform: scale(1); }
}


@keyframes translateRightToLeft {
  0% { transform: translate3d(200%, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes translateLeftToRight {
  0% { transform: translate3d(-200%, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes translateBottomToTop {
  0% { transform: translate3d(0, 200%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes translateTopToBottom {
  0% { transform: translate3d(0, -200%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}


//## When you add a reaction to a message
@keyframes pulseReact {
  0% { transform: scale(1); }
  100% { transform: scale(2); }
}


//## The pulsing line indicating new messages are loading in the chat area
@keyframes chatLoadingMessages {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}


//## Attempt to "fix" the highlight when you jump to a searched message
@keyframes searchHighlightFix {
    0% {
      background: color('primary-8');
    }
    100% {
      background: none;
    }
}


//## Used to makes things scale in
@keyframes scaleIn {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}


//## Used to makes things fade in
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


//## Used to makes things fade out
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes contentAppear {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  100% {
      opacity: 1;
      transform: none;
  }
}

@keyframes unreadBarTopAppear {
  0% {
    transform: translateY(-180%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes unreadBarBottomAppear {
  0% {
    transform: translateY(180%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes contextMenuAppear {
  0% {
    max-height: 0;
    margin-top: -1rem;
    opacity: 0;
  }
  100% {
    max-height: 100%;
    margin-top: 0;
    opacity: 1;
  }
}

//## Animate typing indicator on chat textarea
@keyframes typingWave {
  0%, 40%, 100% {
    background: color('contrasted', .7);
    transform: initial;
  }
  20% {
    background: color('white', .3);
    transform: translateY(-6px);
  }
}
//## Show typing indicator on chat textarea
@keyframes chatTypingIndicator {
  0% {
    height: 0;
    line-height: 0;
  }
  100% {
    height: 40px;
    line-height: 40px;
  }
}

//## Used on user popouts to show nickname initially
// User Popouts
@keyframes userPopoutNicknameHide {
  0% {
    height: 30px;
  }
  90% {
    height: 30px;
  }
  100% {
    height: 0;
  }
}

//## Used to set to display none (usually on infinite animation things to save performance)
// DM Notifications (archived)
@keyframes displayNone {
  100% {
    display: none;
  }
}

//## Used to scale in game popouts to imitate modals
@keyframes scaleInGamePopout {
  0% { transform: translate3d(0, 0, 0) scale(0.5); }
  100% { transform: translate3d(0, 0, 0) scale(1); }
}

//## Slides out right to off screen
// DM Notifications (archived)
@keyframes slideOutToRight {
  100% {
    transform: translate3d(1000%, 0, 0);
  }
}

//## Rotates 360 degrees
// Loading spinner animation
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

//## Animation for unread messages on guilds
@keyframes guildUnreadShake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

//## Twitch startup loading animation
@keyframes appMountLoadingSquare1 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  25% {
    opacity: 1;
    transform: translateX(-37.12px);
  }
  25.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-37.12px);
  }
}
@keyframes appMountLoadingSquare2 {
  0% {
    opacity: 0;
    transform: translateX(37.12px);
  }
  9% {
    opacity: 0;
    transform: translateX(37.12px);
  }
  32% {
    opacity: .8;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

// Generic slide-in animation
// Used on login view
@keyframes slideInFromTop {
  0% { transform: translateY(-200%); }
  100% { transform: translateY(0); }
}

// Green glow-pulse animation added to user avatars when they are speaking in call / voice channels
@keyframes avatarSpeakingGlowGreen {
  0% {
      border-color: #393;
      box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1);
  }
  100% {
      border-color: #6f6;
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.4), inset 0 0 7px rgba(0, 255, 0, 0.4);
  }
}

// Animations used when zenMode setting is activated
@keyframes zenModeTextFlyIn {
  0% {opacity: 0; transform: translateX(200px);}
  100% {opacity: 1; transform: translateX(0px);}
}
@keyframes zenModeBuddhaFlyIn {
  0% {opacity: 0; transform: translateX(-200px);}
  100% {opacity: 1; transform: translateX(0px);}
}

// Used for 'LIVE' streaming background on user popouts
@keyframes StreamingInfiniteLeft {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -197px 0;
  }
}

// Used for 'LIVE' streaming background on user popouts and user profiles
@keyframes StreamLivePulseCircle {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.6);
  }
  100% {
    opacity: 0;
  }
}

@keyframes trans {
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}