.button-container {
  & + & {
    margin-left: 10px;
  }
  .button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    overflow: hidden;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    border-radius: var(--button-border-radius);
    transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
    &.primary {
      color: var(--button-primary-text-color);
      background: var(--button-primary-background);
      &:hover {
        background: var(--button-primary-hover-background);
      }
    }
    &.secondary {
      color: var(--button-secondary-text-color);
      background: var(--button-secondary-background);
      &::after {
        @at-root .light-mode & {
          background-image: radial-gradient(circle, #212121 10%, transparent 10.01%);
        }
      }
      &:hover {
        background: var(--button-secondary-hover-background);
      }
    }
    &.blank {
      color: color('primary-6');
      background: transparent;
      &:hover {
        background: color('primary-6', .04);
      }
      &:active {
        background: color('primary-6', .12);
      }
      &::after {
        background-image: radial-gradient(circle, color('primary-6') 10%, transparent 10.01%);
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      opacity: 0;
      transition: transform .5s ease, opacity 1s ease;
      transform: scale(10, 10);
    }
    &:active {
      &::after {
        opacity: .3;
        transition: 0s;
        transform: scale(0, 0);
      }
    }
  }
}