:root {
  --input-color: #{color('contrasted', .9)};
  --input-placeholder-color: #{color('contrasted', .6)};

  &.light-mode {

  }
}


.text-input-wrapper {
  position: relative;
  flex: 1;
  .text-input {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 0 6px 0;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var('input-color');
    text-overflow: ellipsis;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-bottom: 1px solid #acacac;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &[type='file'] {
      position: absolute;
      opacity: 0;
    }
    &[type='text'] {
      &:focus {
        ~ .text-input-label {
          font-size: 12px;
          color: color('primary-6');
          transform: translateY(-14px);
        }
      }
    }
    &:focus {
      + .text-input-border {
        background: color('primary-6');
        transform: scale(1);
      }
    }
    &:not(:invalid):not(:focus) {
      ~ .text-input-label {
        font-size: 12px;
        color: color('primary-6');
        transform: translateY(-14px);
      }
    }
    &:not(:invalid) {
      ~.input-clear {
        visibility: visible;
      }
    }
  }
  .text-input-border {
    position: absolute;
    // the bottom padding of .text-input
    bottom: 6px;
    display: block;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: background 0.25s, transform 0.25s;
    transform: scale(0, 1);
  }
  .text-input-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    color: var('input-placeholder-color');
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    cursor: text;
    user-select: none;
    transition: transform 0.2s ease-out, color 0.2s ease-out, font-size 0.2s ease-out;
    transform: translateY(12px);
    transform-origin: 0 100%;
  }
  .icon-container {
    margin-right: 10px;
    &.input-clear {
      @include size(24px);
      position: absolute;
      top: 10px;
      right: 0;
      z-index: 2;
      margin: 0;
      cursor: pointer;
      visibility: hidden;
      background: transparent;
      border: 0;
      .icon-container-inner {
        @include size(24px);
        .icon {
          @include size(10px);
          background-color: var('input-placeholder-color');
        }
      }
    }
  }
}

#palette-options ~ label .select-option-selected {
  padding: 0;
  overflow: visible;
  &::before,
  &::after {
    display: none;
  }
}